@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')
$black: #181818
$dirty: #FFAA4C
$blue: #954CED
$maxWidth: 1920 
$maxWidthContainer: 1440 
@mixin adaptiv-value($property, $startSize, $minSize, $type) 
	$addSize: $startSize - $minSize 
	@if $type==1 
		//Только если меньше контейнера 
		#{$property}: $startSize + px 
		@media ( max-width: #{$maxWidthContainer + px} ) 
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})) 
	@else if $type==2 
		//Только если больше контейнера  
		#{$property}: $startSize + px 
		@media ( min-width: #{$maxWidthContainer + px} ) 
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})) 
	@else 
		//Всегда 
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})) 		
*
	margin: 0
	padding: 0
	box-sizing: border-box
body
	font-family: Outfit, sans-serif
	font-optical-sizing: auto
	font-style: normal
	font-weight: 400
	color: #fff
	min-height: 100vh
img
	max-width: 100%	
	vertical-align: top
h1
	@include adaptiv-value("font-size", 96, 40, 1)
	font-weight: 700	
	line-height: 1	
.container
	margin: auto
	max-width: 1400px
	padding: 0 10px
.btn
	@include adaptiv-value("font-size", 20, 14, 1)
	display: flex
	justify-content: center
	align-items: center
	height: 60px
	width: 180px
	background-color: $blue
	color: #fff
	border-radius: 16px	
	text-decoration: none	
	font-weight: 600
	&:hover
		cursor: pointer
nav
	background-color: $dirty
	ul
		list-style: none
		display: flex
		background-color: $dirty
		li
			padding: 10px 40px
			font-weight: 500
			cursor: pointer
			@media (max-width: 640px)
				padding: 10px 30px
			&.top-nav__active
				color: #fff
				border-radius: 20px 20px 0 0
				background-color: $black
header
	background-color: $black
	.top-logo
		display: flex
		align-items: center
		justify-content: space-between
		background-color: $black
		padding: 7px 0	
		@include adaptiv-value("padding-right", 55, 0, 1)
		&-btn
			@media (max-width: 640px)
				display: none
	.burger
		display: none	
		@media (max-width: 640px)
			display: block
			&:hover
				cursor: pointer
	.burger-menu
		position: fixed
		background-color: #181818
		height: 100vh
		left: 0
		top: 0
		right: 0
		bottom: 0
		width: 100%	
		z-index: 50	
		opacity: 0
		visibility: hidden
		transition: all 0.3s
		&.active
			opacity: 1
			visibility: visible
			transition: all 0.3s
		.close-burger
			display: flex
			justify-content: flex-end
			padding: 20px	10px
			margin-bottom: 6rem
			&:hover
				cursor: pointer
		.btn
			width: 100%		
			margin-bottom: 6rem
		ul
			li
				list-style: none
				margin-bottom: 1rem
				a
					font-weight: 500
					color: #fff
					text-decoration: none
					font-size: 20px	
main
	background-color: $black	
	@include adaptiv-value("padding-top", 50, 20, 1)
	.container
		@media (max-width: 768px)
			padding: 0		
	.hero
		display: flex
		justify-content: space-between
		@media (max-width: 640px)
			flex-direction: column
		&-text
			color: #fff
			@include adaptiv-value("padding-left", 50, 5, 1)
			max-width: 740px
			padding-top: 30px
			@media (max-width: 768px)
				margin-bottom: 30px
				padding: 0 16px
			h1
				margin-bottom: 16px
			&-h2
				font-weight: 400
				@include adaptiv-value("font-size", 20, 14, 1)
				margin-bottom: 40px
			.btn
				@media (max-width: 640px)
					width: 100%
section
	background-color: $black
	.section-title
		@include adaptiv-value("font-size", 96, 40, 1)
	.section-subtitle
		font-weight: 600
		@include adaptiv-value("font-size", 36, 24, 1)
		max-width: 410px
.about
	position: relative
	@include adaptiv-value("padding-top", 100, 40, 1)	
	@include adaptiv-value("padding-bottom", 60, 30, 1)	
	&-bg
		position: absolute
		left: 0
		bottom: 0
		@media (max-width: 1200px)
			display: none
	&-wrap
		display: flex
		@media (max-width: 1200px)
			flex-direction: column
			align-items: center
	&-item
		position: relative
		@include adaptiv-value("min-width", 500, 320, 1)
		&:nth-child(1)
			@media (max-width: 1200px)
				margin-bottom: 40px
			@media (max-width: 640px)	
				align-self: flex-start
		div
			display: flex
			flex-direction: column
			.title
				@include adaptiv-value("font-size", 48, 32, 1)
				font-weight: 700	
				margin-bottom: 20px
			.subtitle
				@include adaptiv-value("font-size", 24, 16, 1)	
	.section-title
		@include adaptiv-value("margin-bottom", 80, 30, 1)	
		color: #fff
		@media (max-width: 1200px)
			text-align: center			
		@media (max-width: 640px)
			text-align: left		
	&-benefit
		display: grid
		grid-template-columns: 320px 335px
		@include adaptiv-value("column-gap", 65, 20, 1)
		@include adaptiv-value("row-gap", 90, 20, 1)
		@media (max-width: 768px)
			grid-template-columns: 1fr
span.blue-area
	position: relative
	z-index: 3
	&::after
		content: ''
		width: 100%
		height: 85%
		position: absolute
		left: 0
		top: 8px
		width: 100%
		background-color: $blue
		border-radius: 30px			
		z-index: -1
		transform: rotate(-2deg)
.howit
	@include adaptiv-value("padding-top", 100, 40, 1)	
	@include adaptiv-value("padding-bottom", 100, 40, 1)	
	position: relative
	overflow: hidden
	.howit-bg
		width: 100%
		@media (max-width: 640px)
			height: 500px	
			width: 200vw
	.first-line
		animation: first-line 20s linear infinite
		@keyframes first-line 
			0%
				transform: translateX(0%)
			100%
				transform: translateX(-148%)		
	.first-line-2
		transform: translateX(148%)	
		animation: first-line-2 20s linear infinite
		@keyframes first-line-2 
			0%
				transform: translateX(148%)
			100%
				transform: translateX(0%)
	.second-line
		animation: second-line 20s linear infinite
		@keyframes second-line 
			0%
				transform: translateX(0%)
			100%
				transform: translateX(148%)		
	.second-line-2
		transform: translateX(-148%)	
		animation: second-line-2 20s linear infinite
		@keyframes second-line-2 
			0%
				transform: translateX(-148%)
			100%
				transform: translateX(0%)
	.wrap
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		svg
			@media (max-width: 640px)	
				height: 460px	
.numbers
	background-color: $blue
	padding-top: 40px
	padding-bottom: 40px
	padding-left: 100px
	@media (max-width: 768px)
		padding: 1rem
	&-wrap
		margin: auto
		display: grid
		grid-template-columns: 220px 185px 220px
		place-content: center
		@include adaptiv-value("gap", 100, 30, 1)
		@media (max-width: 1200px)
			grid-template-columns: repeat(3, 1fr)
		@media (max-width: 768px)
			grid-template-columns: 350px
			align-items: center
		@media (max-width: 640px)	
			grid-template-columns: 1fr
		.item
			@media (max-width: 768px)	
				display: flex
				align-items: center
				gap: 20px
		h3
			font-weight: 700
			@include adaptiv-value("font-size", 64, 34, 1)
			margin-bottom: 1rem
			@media (max-width: 768px)
				margin-bottom: 0
		span
			font-weight: 600	
			@include adaptiv-value("font-size", 24, 16, 1)
.why
	padding-bottom: 100px
	h3			
		font-weight: 700
		@include adaptiv-value("font-size", 64, 24, 1)
		@include adaptiv-value("padding-top", 100, 40, 1)
		padding-bottom: 25px	
		text-align: center
	h4
		font-weight: 600
		@include adaptiv-value("font-size", 36, 24, 1)
		max-width: 680px
		margin: auto
		text-align: center
		@include adaptiv-value("margin-bottom", 70, 30, 1)
	&-wrap
		margin: auto
		max-width: 1320px
		padding: 0 16px
		display: grid
		grid-gap: 20px
		grid-template-columns: 1fr 166px 1fr	
		@media (max-width: 992px)
			grid-template-columns: 1fr 1fr
		@media (max-width: 768px)	
			grid-template-columns: 1fr
		.item
			background-color:#F5F5F5
			border-radius: 30px
			position: relative
			padding: 40px
			min-height: 362px
			overflow: hidden
			display: grid
			@media (max-width: 768px)
				padding: 20px
			h5
				@include adaptiv-value("font-size", 48, 30, 1)
				font-weight: 600	
				color: #000
				line-height: 54px
				margin-bottom: 20px
				@media (max-width: 768px)
					line-height: 1.2
					font-weight: 700
					margin-bottom: 10px
			p
				font-weight: 400
				@include adaptiv-value("font-size", 20, 16, 1)	
				line-height: 24px
				color: #000
				@media (max-width: 640px)
					line-height: 20px
			svg
				position: absolute
				height: auto
			.text
				max-width: 440px
		.a
			grid-column: span 2	
			justify-content: end
			@media (max-width: 768px)
				grid-column: initial
				min-height: 360px
			.why-1-big
				@media (max-width: 640px)
					display: none	
			.why-1-little
				display: none	
				@media (max-width: 640px)
					display: block
					width: 90%
			.text
				max-width: 350px
				z-index: 3
			svg
				left: 0
				bottom: 0
		.b
			@media (max-width: 768px)
				min-height: 333px
			.why2-1
				bottom: 0
				left: 60px	
				@media (max-width: 640px)	
					left: 0	
			.why2-2
				bottom: 0
				right: 60px	
				@media (max-width: 640px)	
					right: 140px			
			.why2-3
				top: 60px
				right: 0
				@media (max-width: 640px)	
					top: initial
					bottom: 0
					height: 140px
			.text
				z-index: 3	
		.c
			@media (max-width: 768px)
				min-height: 313px
			.why3
				bottom: 0
				right: 0
			.text
				z-index: 3		
			p
				max-width: 320px				
		.d
			grid-column: span 2	
			@media (max-width: 768px)
				grid-column: initial	
				min-height: 395px
			.why4
				bottom: 0
				right: 50px	
				@media (max-width: 640px)
					bottom: -25px
					height: 220px	
			p
				max-width: 400px
			.text
				z-index: 3	
.brand
	background-color: 	#ffffff
	color: #000000				
	@include adaptiv-value("padding-top", 100, 40, 1)
	@include adaptiv-value("padding-bottom", 100, 40, 1)
	&-container
		max-width: 1350px
		padding: 0 15px
		margin: auto
	&-item-1
		border: 1px solid #CFCFCF
		border-radius: 60px
		text-align: center
		@include adaptiv-value("padding", 50, 20, 1)
		@include adaptiv-value("margin-bottom", 95, 40, 1)
		h3
			font-weight: 700
			@include adaptiv-value("font-size", 64, 40, 1)	
			margin-bottom: 40px
		a
			margin: auto		
	&-item-2
		display: flex
		justify-content: space-between
		@media (max-width: 1400px)
			flex-direction: column
		h2
			@include adaptiv-value("font-size", 96, 34, 1)
			line-height: 100px
			margin-bottom: 30px
			@media (max-width: 640px)	
				line-height: 1.2
				text-align: left
		.text
			max-width: 840px
			@media (max-width: 1400px)
				text-align: center
				margin: auto
			p
				font-weight: 400
				font-size: 20px
				max-width: 537px
				@media (max-width: 1400px)
					text-align: center
					margin: auto
					margin-bottom: 2rem
				@media (max-width: 640px)	
					text-align: left	
		.social
			flex: 1	
			display: grid
			grid-template-columns: 1fr 1fr	
			gap: 0px 40px
			@media (max-width: 1400px)
				max-width: 480px
				min-width: 480px
				margin: auto
			@media (max-width: 640px)	
				min-width: 100%	
			svg
				@media (max-width: 480px)		
					width: 60px
			.fb
				align-self: end
			.ig
				align-self: end
			.x
				justify-self: end
			.tik
				justify-self: end		
	&-item-3
		.wrap
			display: flex
			justify-content: space-between	
			align-items: center			
			flex-wrap: wrap				
			@include adaptiv-value("padding-top", 100, 40, 1)
			@include adaptiv-value("padding-bottom", 100, 40, 1)
			@media (max-width: 967px)
				gap: 40px
				justify-content: center
			@media (max-width: 480px)	
				justify-content: flex-start
			svg
				@media (max-width: 480px)
					max-width: 140px	
				&:nth-child(1)
					@media (max-width: 640px)	
						order: 2
				&:nth-child(2)
					@media (max-width: 640px)	
						order: 1
				&:nth-child(3)
					@media (max-width: 640px)	
						order: 0
				&:nth-child(4)
					@media (max-width: 640px)	
						order: 3
				&:nth-child(5)
					@media (max-width: 640px)	
						order: 4
.footer
	background-color: #181818
	&-container
		max-width: 1350px
		margin: auto
		padding: 0 15px
	&-wrap
		display: flex
		align-items: center
		border-bottom: 2px solid 	#444444
		justify-content: space-between	
		@include adaptiv-value("padding-top", 40, 30, 1)
		@include adaptiv-value("padding-bottom", 30, 40, 1)
		@media (max-width: 1200px)
			flex-direction: column
			gap: 30px
		@media (max-width: 768px)	
			align-items: flex-start
	&-menu
		ul
			display: flex	
			gap: 40px
			@media (max-width: 1200px)
				flex-direction: column
				align-items: center
			@media (max-width: 768px)	
				align-items: flex-start	
				gap: 16px
			li
				list-style: none
				&:nth-child(n+3)
					display: none
					@media (max-width: 1200px)
						display: block
						text-align: center
				a
					text-decoration: none
					color: #fff
					font-size: 20px
					font-weight: 500
	&-social
		display: flex
		align-items: center	
		@media (max-width: 768px)	
			flex-direction: column
			align-items: flex-start
			gap: 20px
		.btn
			height: 57px
			@media (max-width: 768px)
				margin-bottom: 20px
		svg
			vertical-align: top	
		.appstore
			margin-left: 40px
			@media (max-width: 768px)	
				margin-left: 0
		.gplay
			margin-left: 20px
			@media (max-width: 768px)	
				margin-left: 0	
	&-copy
		display: flex
		justify-content: space-between
		align-items: center
		padding: 20px 0
		@media (max-width: 1200px)
			justify-content: center
		span
			font-size: 14px
			font-weight: 300
			color: #B9B9B9
			@media (max-width: 1200px)
				text-align: center
		ul
			display: flex
			gap: 20px
			@media (max-width: 1200px)
				display: none
			li
				list-style: none
				a
					font-size: 14px
					font-weight: 300
					color: #B9B9B9
					text-decoration: underline	
.modal,.cookie-popup	
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: rgba(0,0,0,0.3)	
	opacity: 0
	visibility: hidden
	transition: all 0.4s
	z-index: 10
	&-btn
		font-family: Outfit, sans-serif
		background-color: #B9B9B9
		@include adaptiv-value("font-size", 20, 14, 1)
		display: flex
		justify-content: center
		align-items: center
		height: 60px
		width: 180px
		color: #fff
		border-radius: 16px	
		text-decoration: none	
		font-weight: 600
		&:hover
			cursor: pointer
	&.active
		opacity: 1
		visibility: visible
		transition: all 0.4s
	&-ok
		&__wrap
			background-color: #fff	
	.form-container
		display: flex
		justify-content: center
		padding: 20px
		padding-top: 55px
	.form-wrap
		border-radius: 20px
		background-color: #fff
		position: relative
		width: 417px
		.modal-close
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			width: 25px
			height: 25px
			right: 15px
			top: 15px
			&:hover
				cursor: pointer
		form
			display: flex
			flex-direction: column
			gap: 8px
			@include adaptiv-value("padding", 40, 20, 1)
			label
				font-size: 14px
				font-weight: 500	
				color: #181818
			.modal-input
				padding: 11px 16px 11px 16px
				border-radius: 14px
				border: 1px solid #F1F1F1
				&:placeholder
					color: #A7A7A7
			#phone
				padding-left: 44px
				background-image: url('img/flag-ru.svg')
				background-position: 16px 8px
				background-repeat: no-repeat
			span
				font-size: 14px
				font-weight: 300	
				color: #181818	
				margin-bottom: 10px
			.red-star
				color: red
			.req-notice,.req-all
				display: none
				font-size: 12px
				color:#EC1211
				font-weight: 400
				margin-bottom: 0
			.req-all
				font-size: 16px
	.ok-wrap
		max-width: 335px
		background-color: #fff	
		border-radius: 20px
		padding: 40px 20px
		position: relative		
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		.modal-close
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			width: 25px
			height: 25px
			right: 15px
			top: 15px
			&:hover
				cursor: pointer
		h3
			color: $blue
			font-weight: 600
			@include adaptiv-value("font-size", 24, 18, 1)
			margin: 1rem 0
		p
			font-size: 20px
			font-weight: 400	
			@include adaptiv-value("font-size", 20, 16, 1)
			color: #444444
			margin-bottom: 1rem
			text-align: center
		.ok-btn
			@include adaptiv-value("font-size", 20, 14, 1)
			display: flex
			justify-content: center
			align-items: center
			height: 60px
			width: 255px	
			background-color: $blue
			color: #fff
			border-radius: 16px	
			text-decoration: none	
			font-weight: 600
			&:hover
				cursor: pointer
#modal-form-status
	color: #000		
.cookie-popup	
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: rgba(0,0,0,0.3)	
	transition: all 0.4s
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
	.cookie-wrap
		position: absolute
		bottom: 20px
		left: 50%
		transform: translateX(-50%)	
		background-color: #fff
		border-radius: 20px
		padding: 30px 60px 30px 30px
		width: 90%
		@media (max-width: 967px)
			padding: 20px
		p
			color: #444444
			@media (max-width: 967px)
				max-width: 90%
				align-self: flex-start
		.modal-close	
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			width: 25px
			height: 25px
			right: 15px
			top: 15px
			&:hover
				cursor: pointer
		.cookie-block
			display: flex
			align-items: center
			gap: 20px
			@media (max-width: 967px)
				flex-direction: column
			.cookie-btn
				border-radius: 16px
				min-width: 125px
				height: 60px	
				text-decoration: none	
				font-weight: 600
				@include adaptiv-value("font-size", 20, 14, 1)
				display: flex
				justify-content: center
				align-items: center
				@media (max-width: 967px)
					min-width: 100%
			.cookie-accept
				background-color: $blue
				color: #fff
			.cookie-decline
				background-color: #fff
				color: $blue
				border: 2px solid $blue

		
	
